$main-bg: #fff;
$main-color: #000;

$txt-main-color: #000;
$txt-second-color: #8d8d8d;
$txt-white: #fff;

$btn-main-bg: $main-bg;
$btn-main-color: $txt-white;

$header-height: 100px;
$header-tablet-height: 70px;
$header-mobile-height: 50px;
$header-shrink-height: 60px;

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$mobile-width: 600px;
$tablet-width: 1024px;