.custom-checkbox{
    @include flex(center, flex-start);
    cursor: pointer;
    transition: all .5s ease;

    &:hover{
        color: $main-color;
    }

    input{
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    &__checkmark{
        @include flex (center,center);
        margin-right: 10px;
        height: 15px;
        width:  15px;
        border: 1px solid $txt-second-color;
        border-radius: 3px;

        &__icon{
            transform: scale(0);
            transition: all .5s ease;
        }
    }

    input:checked ~ &__checkmark{
        background-color: $main-color;
        border: 1px solid $main-color;
        color: $txt-white;
    }

    input:checked ~ &__checkmark > &__checkmark__icon{
        transform: scale(1);
    }
}